<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>What is this site for?</p>
        <a class="btn btn-info" href="/items">View all items</a>
    </div>

</div>

<% include partials/footer %>