<% include partials/header %>

<h1>Log in</h1>

<form action="/login" method="POST">
    <div class="form-group">
        <input type="text"
               name="username">
    </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="password">
    </div>
    <div class="form-group">
        <button>Log in</button>
    </div>
</form>