<% include partials/header %>

    <div class="container">
        <div class="thumbnail">
            <p><%= product.title %></p>
            <img src="<%= product.image %>">
            <p><%= product.description %></p>
        </div>
    </div>

<% include partials/footer %>