<% include partials/header %>


<div class="container">
    <div class="row">
        <h3 style="text-align: center">注册</h3>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <input class="form-control"
                           type="text"
                           name="username"
                           placeholder="邮箱">
                </div>
                <div class="form-group">
                    <input class="form-control"
                           type="password"
                           name="password"
                           placeholder="密码">
                </div>
                <div class="form-group">
                    <button  class="btn btn-primary btn-block">注册</button>
                </div>
            </form>
            <a href="/items">返回</a>
        </div>
    </div>
</div>